<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DaysToKeep" value="7"/>
    <add key="CheckIntervalMinutes" value="15"/>
    <add key="LowDiskThresholdMB" value="1000" />
    <add key="RootLogSearchDirectory" value="%SystemDrive%\inetpub\logs"/>
  </appSettings>
</configuration>